body {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding: 0;
}

a {
  color: rgba(255, 255, 255, 0.87);
}

#sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
