.table-border-container {
  position: relative;
  border: 2px solid #000; 
  padding: 10px;
  margin-bottom: 20px; 
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-select {
  margin-right: 10px;
  padding: 5px;
}

.filter-input {
  padding: 5px;
}

.table-wrapper {
  max-height: 400px; 
  overflow-y: auto;
}

.table-wrapper a {
  text-decoration: none; 
  color: inherit; 
}

.table-wrapper a:hover {
  text-decoration: none; 
}

.table-row-count {
  margin-top: 10px; 
  font-size: 14px; 
  color: #000;
  background-color: blue; 
  padding: 10px;
  border-radius: 5px;
  color: white;
}