.community {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
}

p.community {
    font-size: 1.2rem;
}

h1.community {
    font-size: 3rem;
}

.first {
    margin-top: -5rem;
}

tr:not(.nohover):hover.community {
    cursor: auto !important;
}

td.community {
    width: 10% !important;
}