body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(75px, 75px);
  width: 90vw;
  height: 65vh;
  overflow-y: scroll;
  border: 3px solid black;
  font-size: 16px;
}

.title-grid {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  background-color: #98c1d9;
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.title-grid,
.grid-item {
  border-bottom: 3px solid black;
  grid-auto-rows: minmax(75px, 75px);
  padding: 0px 15px;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.selectButton {
  color: white;
  background-color: #3d5a80;
  border: 3px solid black;
  padding: 10px;
}
